@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-conteiner: linear-gradient(-225deg, #871eff 0%, #f2beff 100%);    
    --White: #FFFFFF;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

body{
    font-family: "Poppins",sans-serif;
}



.console{
    display: grid;
    max-height: 100vh;
    grid-template-columns: 70px 1fr 280px;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "sidebar--left nav nav"
    "sidebar--left article sidebar--right";
    background-image: linear-gradient(135deg, #692ead 0%, #371757 100%);
    /* background-image: linear-gradient(135deg, #0e0e0e 0%, rgb(90, 3, 177) 100%); */
        gap: 10px;
    padding: 25px;
}

.console__nav{
    grid-area: nav;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}




.nav__ul{
    list-style: none;
}

.nav__li{
    display: inline-block;
    margin-right: 45px;
    cursor: pointer;
}

.nav__li:hover{
    color: #371757;
    transition: 0.5s all ease;
}

.nav__li--background{
    background-color: #50237c;
    border-radius: 8px;
    height: 35px;
    padding: 5px;
    margin-right: 20px;
}

.nav__li--category{
    position: relative;
}

.category__icon{
    width: 15px;
    position: absolute;
    top: 5px;
}

.nav__li--category-ul{
    display: none;
    position: absolute;
}

.nav__li--category:hover 
.nav__li--category-ul{
    display: block;
    list-style: none;
    background-color: #371757;
    border-radius: 4px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 25px #3f1b69;
}

.nav__li--category:hover 
.nav__li--category-ul li{
    position: relative;
    color: #fff;
    margin-top: 15px;
}

.nav__li--category:hover 
.nav__li--category-ul li:hover{
    color: #a352ff;
    transition: 0.5s all ease;
}


.console__sidebar--left{
    grid-area: sidebar--left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 25px #3f1b69;
}

.console__sidebar--left::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--background-conteiner);
    opacity: 30%;
    z-index: -1;
}


.sidebar__icons--top{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}


.sidebar__icon{
    width: 28px;
    margin-top: 20px;
    cursor: pointer;
}



.sidebar__icons--bottom{
    text-align: center;
}

.sidebar__icon--profile{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50px;
}




.console__article{
    grid-area: article;
    overflow-y: scroll;
}

.article__news{
    height: 280px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 1px 25px #771fd4;
    background-image: url("../img/destiny.jpeg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
}

.news__info{
    display: flex;
    margin: 40px;
}

.news__cta{
    width: 160px;
    color: #fff;
    background-color: #a352ff;
    padding: 6px 16px;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

.news__cta:hover{
    background-color: #50237c;
    transition: 1s all ease;
}

.btnSave{
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 25, 64);
    text-align: center;
    width: 50px;
    cursor: pointer;
}

.btnSave:hover{
    background-color: rgb(182, 17, 44);
    transition: 0.5s all ease;
}

.article__games{
    padding: 20px;
    margin-top: 30px;
}

.article__games--title{
    font-size: 28px;
    font-weight: 400;
    color: var(--White);
}

.article__games--grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;

}

.games__item{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 280px;
    border-radius: 8px;
    background-color: #371757;
    overflow: hidden;
    padding-bottom: 40px;
    margin: 5px;
}

.games__item:hover{
    opacity: 80%;
    cursor: pointer;
    transition: 0.5s all ease;
}


.games__item--img{
    width: 100%;
    height: 210px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.games__item--info{
    padding: 5px;
}

.games__item--name{
    color: var(--White);
    font-size: 12px;
}

.games__item--gender{
    color: #cccccc;
    font-size: 9px;
}

.games__item--download{
    position: relative;
    top: 5px;
}


.console__sidebar--right{
    grid-area: sidebar--right;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.sidebar--right__friends{
    width: 100%;
    height: 280px;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 25px #3f1b69;
    padding: 20px;
    overflow: hidden;
}

.sidebar--right__friends::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--background-conteiner);
    opacity: 30%;
    z-index: -1;
    border-radius: 15px;
}

.friends__title{
    color: #fff;
    font-weight: 400;
}

.friends__online{
    color: #fff;
    font-size: 14px;
    position: relative;
    margin-left: 15px;
}

.friends__online::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #00ff22;
    border-radius: 50px;
    top: 5px;
    left: -15px;
    bottom: 0;
}


.friends__list{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 80px;
}


.friend__user{
    display: flex;
}


.friend__icon{
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 8px;
}

.friend__info{
    margin-left: 5px;
}

.friend__name{
    color: var(--White);
}

.friend__status{
    font-size: 14px;
}

.friends__status--online{
    color: #00ff22;
}

.friends__status--offline{
    color: #cccccc;
}

.sidebar--right__recently{
    margin-top: 15px;
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 25px #3f1b69;
    padding: 20px;
    overflow: hidden;
}

.sidebar--right__recently::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--background-conteiner);
    opacity: 30%;
    z-index: -1;
    border-radius: 15px;
}

.recently__title{
    color: #fff;
    font-weight: 400;
}

.recently__list{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 80px;
}

.recently__game{
    display: flex;
}


.recently__icon{
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 8px;
}


.recently__info{
    margin-left: 5px;
}

.recently__name{
    color: var(--White);
}

.recently__lasttime{
    font-size: 14px;
    color: #cccccc;
}

.console__menu--bottom{
    display: none;
}

.nav__search{
    display: none;
}

@media (max-width: 768px) {
    .console{
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 120px 1fr 80px;
        grid-template-areas: 
        "nav"
        "article"
        "menu--bottom";
        background-image: linear-gradient(135deg, #692ead 0%, #764ba2 100%);
        gap: 10px;
        padding: 20px;
    }


    .console__nav{
        grid-area: nav;
    }

    .nav__search{
        display: block;
        width: 100%;
    }

    .input__search{
        width: 95%;
        height: 50px;
        outline: none;
        border-radius: 5px;
        padding: 20px;
        padding-left: 50px;
        background-color: #50237c;
        border: none;
        color: #fff;
        font-size: 25px;
        position: relative;
        overflow: hidden;
    }

    .input__search::placeholder{
        color: #fff;
        letter-spacing: 0.1ch;
    }

    .search__icon{
        width: 36px;
        position: absolute;
        top: 40px;
        left: 20px;
    }

    .nav__ul--titles{
        display: none;
    }

    .nav__ul--end{
        display: none;
    }


    
    .console__sidebar--left{
        display: none;
    }
    
    .console__article{
        grid-area: article;
        overflow-y: scroll;
    }
    
    .console__menu--bottom{
        grid-area: menu-bottom;
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        height: 80px;
        background-color: #50237c;
        color: #fff;
        padding: 10px;
    }
    

    .nav__ul--titles--bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav__bottom--item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }

    .nav__bottom--item img {
        width: 28px;
    }

    .nav__bottom--item p {
        font-size: 16px;
        font-weight: 300;
    }


    .console__sidebar--right{
        display: none;
    }
    
}